

.jumbotron{
    padding: 30px 50px 80px 50px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.card-deck{
    display: inline-flex;
    width: 100%;
    
    
}
.card {
    width: 325px;
    height: 500px;
    text-align: center;
}

